.text-red{
    color: red;
}
h1{
    margin-left: 50px;
    
}
.box{
    height: 40px;
    width: 100%;

}
button{
    background-color: rgb(55, 112, 236);
    margin-left: 50px;
}



.box3{
    height: 40px;
    width: 100%;

}
.table{
    margin-left: 50px;
    
}