
.text-red{
    color:red !important;
    
}
.card-img{

    width: 100%;
    height: 280px;
   
    
}
.d-flex input{
    width: 500px;
    margin-left: 500px;
    margin-top: 80px;
    border-radius: 5px;
}
.d-flex button{
    height: 33px;
    margin-top: 80px;
    border-radius: 5px;
    background-color: red;
}
.content h1{
    margin: 50px;
    text-align: center;
}
.col{
    margin-left:100px;
    
}
.col img{
  
    height: 350px;
    border-radius: 5px;
    
}
.col1{
    margin-left: 150px;
}
.col2{
    margin-right: 220px;
}
.col3{
    margin-right: 20px;
}
.box{
    height: 100px;
    width: 100%;
}
.card-title{
    margin-left: 30px;
}

.card-text{
    margin-left: 30px;

}
.card-body button{
    margin-left: 30px;


}
.social ul{
    list-style-type: none;
    margin-top: 30px;
}

.social ul li{
    display: inline;
    padding: 1%;
    margin-left: 1%;
    
}